.card-filter {
    
    .card-footer {
        
        display: flex;
        justify-content: end;

        > * {

            margin: 0 5px;

            &:first-child { margin-left: 0; }

            &:last-child { margin-right: 0; }
        }
    }
}